include README.md
include INSTS.md
include LICENSE
include *requirements.txt

include setup.py
include version.py

graft raven_auth
graft raven_auth/files
graft ibisclient

global-exclude *~
global-exclude .git
global-exclude *.pyc
global-exclude *.save
